body {
    color: #0C3547;
    font-size: 1.6em;
}
footer {
    background-color: #0C3547;
    color: #fff;
    height: 300px;
    padding-top: 50px;
}
.strong {
    font-weight: bold;
}
.white {
    color: #fff;
}
.navbar-default {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    background-color: #0C3547;
}
.navbar-default .navbar-brand {
    color: #fff;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.main-header {
    height: 600px;
    width: 100%;
    background-color: #81CFD1;
    background-repeat: no-repeat;
    background-position: center;
}
.place-header {
    height: 300px;
}
.main-header h1 {
    color: #fff;
    font-size: 6em;
    padding-top: 2em;
}
.place-header h1 {
    height: 300px;
    padding-top: 1em;
}
.main-header p.white {
    font-size: 1.4em;
    font-style: italic;
}
.square {
    height: 500px;
}
.square h1 {
    color: #fff;
}
.blue {
    background-color: #46A7AE;
}
.green {
    background-color: #6E9399;
}
.place-square {
    height: 250px;
}
.gray {
    background-color: #DDDCE2;
}
.contact {
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.place-header {
    background-color: #81CFD1;
}
.blog-content {
    margin-top: 50px;
    margin-bottom: 50px;
}
p.blog-post {
    font-size: 1.5em;
}
.square, .place-square {
    padding-top: 7em;
}
.contact .form-control {
    border-radius: 0;
}
.contact .form-control .btn-group-lg>.btn, .btn-lg {
    border-radius: 0;
}
.create-blog-post {
    margin-top: 50px;
    margin-bottom: 50px;
}
.create-blog-post .form-control {
    border-radius: 0;
}
.create-blog-post .form-control .btn-group-lg>.btn, .btn-lg  {
    border-radius: 0;
}




