body {
    color: #0C3547;
}
footer {
    background-color: #0C3547;
    color: #fff;
    height: 300px;
    padding-top: 50px;
}
.strong {
    font-weight: bold;
}
.white {
    color: #fff;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.main-header {
    height: 700px;
    width: 100%;
    background-color: #81CFD1;
    background-repeat: no-repeat;
    background-position: center;
}
.main-header h1 {
    color: #fff;
    font-size: 6em;
    padding-top: 2em;
}
.main-header p.white {
    font-size: 1.4em;
    font-style: italic;
}
.square {
    height: 500px;
}
.square h1 {
    color: #fff;
}
.blue {
    background-color: #46A7AE;
}
.green {
    background-color: #6E9399;
}
.place-square {
    height: 250px;
}
.gray {
    background-color: #DDDCE2;
}
.contact {
    height: 500px;
}
.place-header {
    background-color: #81CFD1;
}


